body {
    font-family: Arial, sans-serif;
    background-color: #0d5affd2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora {
    position: relative;
    background-color: #fff;
    width: 350px;
    padding: 90px 30px 30px;
    border-radius: 30px;
    border: 4px solid #0d5aff;
    box-shadow: 0 10px 30px rgb(6, 47, 182);
    text-align: center;
}

h2 { 
    color: #131313;
    margin-bottom: 25px;
}
input { 
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #0d8aff;
    border-radius: 15px;
    font-size: 16px;
}
.botoes { 
    margin-top: 15px;
}
button { 
    width: 45%;
    height: 55px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #0d5aff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: .2s;
}
button:hover { 
    transform: scale(1.1);
    background-color: #0d8aff;
}   
#resultado { 
    margin-top: 20px;
    font-size: 24px;
    color: #131313;
}